<!-- Contact Info Block Component -->
<div class="grid grid-row-gap-24">
    <div class="grid-col-12">
        <h2 class="h2 text-center">Get in Touch</h2>
    </div>
    <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="extra-block-bg grid grid-columns-1 grid-row-gap-8 grid-place-items-center">
            <h5 class="h5-caps">Address</h5>
            <p class="text-center">123 Business Street<br>Suite 456<br>New York, NY 10001</p>
        </div>
    </div>
    <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="extra-block-bg grid grid-columns-1 grid-row-gap-8 grid-place-items-center">
            <h5 class="h5-caps">Phone</h5>
            <p class="text-center">Sales: +1 (555) 123-4567<br>Support: +1 (555) 987-6543<br>Fax: +1 (555) 111-2222</p>
        </div>
    </div>
    <div class="grid-col-4 grid-col-tablet-12 grid-col-mobile-big-12">
        <div class="extra-block-bg grid grid-columns-1 grid-row-gap-8 grid-place-items-center">
            <h5 class="h5-caps">Email</h5>
            <p class="text-center">info@company.com<br>sales@company.com<br>support@company.com</p>
        </div>
    </div>
</div>