<!-- Image Gallery Component -->
<div class="grid grid-row-gap-24">
    <div class="grid-col-12">
        <h2 class="h2 text-center">Our Gallery</h2>
    </div>
    <div class="grid-col-6 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="picture-wrapper">
            <picture class="stretch">
                <img src="gallery-1.jpg" class="full-cover cover-img rounded img-min-h-400" alt="Gallery image 1">
            </picture>
        </div>
    </div>
    <div class="grid-col-6 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="grid grid-row-gap-24">
            <div class="grid-col-6 grid-col-mobile-big-6">
                <div class="picture-wrapper">
                    <picture class="stretch">
                        <img src="gallery-2.jpg" class="full-cover cover-img rounded" alt="Gallery image 2">
                    </picture>
                </div>
            </div>
            <div class="grid-col-6 grid-col-mobile-big-6">
                <div class="picture-wrapper">
                    <picture class="stretch">
                        <img src="gallery-3.jpg" class="full-cover cover-img rounded" alt="Gallery image 3">
                    </picture>
                </div>
            </div>
            <div class="grid-col-6 grid-col-mobile-big-6">
                <div class="picture-wrapper">
                    <picture class="stretch">
                        <img src="gallery-4.jpg" class="full-cover cover-img rounded" alt="Gallery image 4">
                    </picture>
                </div>
            </div>
            <div class="grid-col-6 grid-col-mobile-big-6">
                <div class="picture-wrapper">
                    <picture class="stretch">
                        <img src="gallery-5.jpg" class="full-cover cover-img rounded" alt="Gallery image 5">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>