<!-- Blockquote Section Component -->
<div class="grid grid-row-gap-16">
    <div class="grid-col-8 grid-start-3 grid-col-tablet-10 grid-col-mobile-big-12">
        <div class="blockquote-base">
            <p class="h3 h-normal">
                "Innovation distinguishes between a leader and a follower. We strive to lead in everything we do, pushing boundaries and setting new standards in our industry."
            </p>
        </div>
        <div class="grid grid-columns-1 grid-row-gap-4">
            <p class="bold text-right">James Anderson</p>
            <p class="caption-italic text-right">Founder & Chairman</p>
        </div>
    </div>
</div>