<!-- Two Column Image and Text Component -->
<div class="two-columns-text-and-image-category">
    <div class="grid grid-row-gap-24">
        <div class="grid-col-6 grid-col-tablet-12 grid-col-mobile-big-12">
            <div class="grid grid-columns-1 grid-row-gap-16 grid-place-content-center">
                <h6 class="h6">About Us</h6>
                <h2 class="h2 no-offset">Building the Future of Commerce</h2>
                <p>We are a team of passionate innovators dedicated to transforming how businesses operate in the digital age. Our platform combines cutting-edge technology with intuitive design to deliver exceptional results.</p>
                <p class="extra-text-dark">Founded in 2015, we have grown from a small startup to a global leader in B2B commerce solutions, serving over 500 enterprise clients worldwide.</p>
                <div class="buttons-row">
                    <a href="#" class="btn btn--default">Learn Our Story</a>
                    <a href="#" class="btn btn--plain">Meet the Team</a>
                </div>
            </div>
        </div>
        <div class="grid-col-6 grid-col-tablet-12 grid-col-mobile-big-12">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="about-image.jpg" class="full-cover cover-img rounded" alt="About our company">
                </picture>
            </div>
        </div>
    </div>
</div>