<!-- Button Showcase Component -->
<div class="grid grid-row-gap-32">
    <div class="grid-col-12">
        <h2 class="h2 text-center">Take Action</h2>
    </div>
    <div class="grid-col-12">
        <div class="grid grid-row-gap-16">
            <div class="grid-col-12">
                <h5 class="h5">Primary Actions</h5>
            </div>
            <div class="grid-col-12">
                <div class="btn-group">
                    <a href="#" class="btn btn--default">Default Button</a>
                    <a href="#" class="btn btn--default btn--size-small">Small Button</a>
                    <a href="#" class="btn btn--default btn--size-large">Large Button</a>
                    <a href="#" class="btn btn--default btn--rounded">Rounded Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-col-12">
        <div class="grid grid-row-gap-16">
            <div class="grid-col-12">
                <h5 class="h5">Secondary Actions</h5>
            </div>
            <div class="grid-col-12">
                <div class="btn-group">
                    <a href="#" class="btn btn--outlined">Outlined</a>
                    <a href="#" class="btn btn--plain">Plain</a>
                    <a href="#" class="btn btn--flat">Flat</a>
                    <a href="#" class="btn btn--neutral">Neutral</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-col-12">
        <div class="grid grid-row-gap-16">
            <div class="grid-col-12">
                <h5 class="h5">Destructive Actions</h5>
            </div>
            <div class="grid-col-12">
                <div class="btn-group">
                    <a href="#" class="btn btn--destructive">Delete Item</a>
                    <a href="#" class="btn btn--destructive-outlined">Remove</a>
                    <a href="#" class="btn btn--destructive-plain">Cancel Order</a>
                </div>
            </div>
        </div>
    </div>
</div>