<!-- Footer Links Component -->
<div class="grid grid-row-gap-24">
    <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="grid grid-columns-1 grid-row-gap-12">
            <h5 class="h5">Products</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="btn btn--simple">Electronics</a></li>
                <li><a href="#" class="btn btn--simple">Clothing</a></li>
                <li><a href="#" class="btn btn--simple">Home & Garden</a></li>
                <li><a href="#" class="btn btn--simple">Sports Equipment</a></li>
                <li><a href="#" class="btn btn--simple">Office Supplies</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="grid grid-columns-1 grid-row-gap-12">
            <h5 class="h5">Company</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="btn btn--simple">About Us</a></li>
                <li><a href="#" class="btn btn--simple">Careers</a></li>
                <li><a href="#" class="btn btn--simple">Press</a></li>
                <li><a href="#" class="btn btn--simple">Blog</a></li>
                <li><a href="#" class="btn btn--simple">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="grid grid-columns-1 grid-row-gap-12">
            <h5 class="h5">Support</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="btn btn--simple">Help Center</a></li>
                <li><a href="#" class="btn btn--simple">Shipping Info</a></li>
                <li><a href="#" class="btn btn--simple">Returns</a></li>
                <li><a href="#" class="btn btn--simple">Track Order</a></li>
                <li><a href="#" class="btn btn--simple">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
        <div class="grid grid-columns-1 grid-row-gap-12">
            <h5 class="h5">Legal</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="btn btn--simple">Privacy Policy</a></li>
                <li><a href="#" class="btn btn--simple">Terms of Service</a></li>
                <li><a href="#" class="btn btn--simple">Cookie Policy</a></li>
                <li><a href="#" class="btn btn--simple">Accessibility</a></li>
                <li><a href="#" class="btn btn--simple">Sitemap</a></li>
            </ul>
        </div>
    </div>
</div>