<!-- Article Preview Card Component -->
<div class="grid-article">
    <div class="grid grid-row-gap-24">
        <div class="grid-col-12">
            <h2 class="h2 text-center">Latest Articles</h2>
        </div>
        <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-big-12">
            <div class="grid-item bordered rounded">
                <div class="picture-wrapper bordered-img-on-top">
                    <picture class="stretch">
                        <img src="article-1.jpg" class="full-cover cover-img" alt="Article 1">
                    </picture>
                </div>
                <div class="grid-item__text">
                    <p class="caption">January 15, 2026</p>
                    <h4 class="h4 no-offset">10 Tips for Growing Your E-commerce Business</h4>
                    <p class="extra-text-dark">Learn the essential strategies that successful online retailers use to scale their operations and increase revenue.</p>
                </div>
                <div class="grid-item__bottom">
                    <a href="#" class="btn btn--simple-colored">Read More</a>
                </div>
            </div>
        </div>
        <div class="grid-col-4 grid-col-tablet-6 grid-col-mobile-big-12">
            <div class="grid-item bordered rounded">
                <div class="picture-wrapper bordered-img-on-top">
                    <picture class="stretch">
                        <img src="article-2.jpg" class="full-cover cover-img" alt="Article 2">
                    </picture>
                </div>
                <div class="grid-item__text">
                    <p class="caption">January 10, 2026</p>
                    <h4 class="h4 no-offset">The Future of B2B Commerce</h4>
                    <p class="extra-text-dark">Explore the emerging trends and technologies shaping the next generation of business-to-business transactions.</p>
                </div>
                <div class="grid-item__bottom">
                    <a href="#" class="btn btn--simple-colored">Read More</a>
                </div>
            </div>
        </div>
        <div class="grid-col-4 grid-col-tablet-12 grid-col-mobile-big-12">
            <div class="grid-item bordered rounded">
                <div class="picture-wrapper bordered-img-on-top">
                    <picture class="stretch">
                        <img src="article-3.jpg" class="full-cover cover-img" alt="Article 3">
                    </picture>
                </div>
                <div class="grid-item__text">
                    <p class="caption">January 5, 2026</p>
                    <h4 class="h4 no-offset">Customer Experience Best Practices</h4>
                    <p class="extra-text-dark">Discover how to create memorable shopping experiences that drive customer loyalty and repeat purchases.</p>
                </div>
                <div class="grid-item__bottom">
                    <a href="#" class="btn btn--simple-colored">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>