<!-- Service Cards Component -->
<div class="four-columns-text-and-images-features">
    <div class="grid grid-row-gap-24">
        <div class="grid-col-12">
            <h2 class="h2 text-center">Our Services</h2>
            <p class="text-center">Comprehensive solutions for every business need.</p>
        </div>
        <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
            <div class="extra-block-bg rounded">
                <div class="grid grid-columns-1 grid-row-gap-12 grid-place-items-center">
                    <div class="picture-wrapper">
                        <picture class="stretch">
                            <img src="service-1.svg" class="img-fluid" alt="Consulting">
                        </picture>
                    </div>
                    <h4 class="h4 text-center no-offset">Consulting</h4>
                    <p class="caption text-center">Expert guidance to optimize your business operations and strategy.</p>
                    <a href="#" class="btn btn--flat">Learn More</a>
                </div>
            </div>
        </div>
        <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
            <div class="extra-block-bg rounded">
                <div class="grid grid-columns-1 grid-row-gap-12 grid-place-items-center">
                    <div class="picture-wrapper">
                        <picture class="stretch">
                            <img src="service-2.svg" class="img-fluid" alt="Implementation">
                        </picture>
                    </div>
                    <h4 class="h4 text-center no-offset">Implementation</h4>
                    <p class="caption text-center">Full-service deployment and integration with your existing systems.</p>
                    <a href="#" class="btn btn--flat">Learn More</a>
                </div>
            </div>
        </div>
        <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
            <div class="extra-block-bg rounded">
                <div class="grid grid-columns-1 grid-row-gap-12 grid-place-items-center">
                    <div class="picture-wrapper">
                        <picture class="stretch">
                            <img src="service-3.svg" class="img-fluid" alt="Training">
                        </picture>
                    </div>
                    <h4 class="h4 text-center no-offset">Training</h4>
                    <p class="caption text-center">Comprehensive training programs for your team to maximize platform value.</p>
                    <a href="#" class="btn btn--flat">Learn More</a>
                </div>
            </div>
        </div>
        <div class="grid-col-3 grid-col-tablet-6 grid-col-mobile-big-12">
            <div class="extra-block-bg rounded">
                <div class="grid grid-columns-1 grid-row-gap-12 grid-place-items-center">
                    <div class="picture-wrapper">
                        <picture class="stretch">
                            <img src="service-4.svg" class="img-fluid" alt="Support">
                        </picture>
                    </div>
                    <h4 class="h4 text-center no-offset">Support</h4>
                    <p class="caption text-center">24/7 dedicated support to keep your business running smoothly.</p>
                    <a href="#" class="btn btn--flat">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>