<!-- Brand Logo Grid Component -->
<div class="grid grid-row-gap-24">
    <div class="grid-col-12">
        <h2 class="h2 text-center">Trusted By Industry Leaders</h2>
        <p class="caption text-center">Join over 500 companies that rely on our platform.</p>
    </div>
    <div class="grid-col-2 grid-col-tablet-4 grid-col-mobile-big-6">
        <div class="grid grid-columns-1 grid-place-items-center">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="logo-1.svg" class="img-fluid" alt="Partner 1">
                </picture>
            </div>
        </div>
    </div>
    <div class="grid-col-2 grid-col-tablet-4 grid-col-mobile-big-6">
        <div class="grid grid-columns-1 grid-place-items-center">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="logo-2.svg" class="img-fluid" alt="Partner 2">
                </picture>
            </div>
        </div>
    </div>
    <div class="grid-col-2 grid-col-tablet-4 grid-col-mobile-big-6">
        <div class="grid grid-columns-1 grid-place-items-center">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="logo-3.svg" class="img-fluid" alt="Partner 3">
                </picture>
            </div>
        </div>
    </div>
    <div class="grid-col-2 grid-col-tablet-4 grid-col-mobile-big-6">
        <div class="grid grid-columns-1 grid-place-items-center">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="logo-4.svg" class="img-fluid" alt="Partner 4">
                </picture>
            </div>
        </div>
    </div>
    <div class="grid-col-2 grid-col-tablet-4 grid-col-mobile-big-6">
        <div class="grid grid-columns-1 grid-place-items-center">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="logo-5.svg" class="img-fluid" alt="Partner 5">
                </picture>
            </div>
        </div>
    </div>
    <div class="grid-col-2 grid-col-tablet-4 grid-col-mobile-big-6">
        <div class="grid grid-columns-1 grid-place-items-center">
            <div class="picture-wrapper">
                <picture class="stretch">
                    <img src="logo-6.svg" class="img-fluid" alt="Partner 6">
                </picture>
            </div>
        </div>
    </div>
</div>